@model IEnumerable<SocialApp2.Models.Invitation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Invitation from
            </th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <form asp-action="Accept" asp-route-id="@item.Id">
                    <input type="submit" value="Accept" class="btn btn-default" />
                </form>
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
